<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chessie" version="0.4.0" targetFramework="net461" />
  <package id="FSharp.Compiler.Tools" version="4.0.0.1" targetFramework="net461" />
  <package id="FSharp.Control.AsyncSeq" version="2.0.3" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="FSharp.Core.Fluent-4.0" version="1.0.0.5" targetFramework="net461" />
  <package id="FSharp.IO.FileSystem" version="3.2.1" targetFramework="net461" />
  <package id="FSharpx.Async" version="1.12.0" targetFramework="net461" />
  <package id="FSharpx.Collections" version="1.14.0" targetFramework="net461" />
  <package id="FSharpx.Extras" version="1.10.3" targetFramework="net461" />
  <package id="FSharpx.Reflection" version="1.9.7" targetFramework="net461" />
  <package id="TiledSharp" version="0.15" targetFramework="net461" />
</packages>